body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #00ffc8;
    font-family: 'Arial', sans-serif;
}
h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin: 10%;
}
.game-container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
}
.celda {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 2px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.cell.x::before {
    content: 'X';
    color: #ff3b3f;
}

.cell.o::before {
    content: 'O';
    color: #4CAF50;
}

/* Estilo para deshabilitar las celdas una vez marcadas */
.cell.clicked {
    pointer-events: none;
}

/* Estilo para mostrar el resultado del juego */
.result {
    margin-top: 20px;
    text-align: center;
    font-size: 1.5em;
}